/* color */
/* text-color */
/* border-color */
.action__button {
  background-color: #3040c4;
  color: #fff;
  /*width: 100%;*/
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .action__button .hide_desktop {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .action__button .hide_mobile {
    display: none;
  }
}

.learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  width: 158px;
}
@media screen and (min-width: 1400px) {
  .learn-more-btn .hide_desktop {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .learn-more-btn .hide_mobile {
    display: none;
  }
}

/*
.icon-arrow_right {
    display: block;
    background-image: url(''); 
    width: 7px;
    height: 12px;
}
*/
.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #F4F5F7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advanage-header {
  display: flex;
  margin-top: 42px;
  line-height: 42px;
}
.features__advantage-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advanage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  height: 166px;
  top: 258px;
}
.features__bunner {
  position: absolute;
  right: 0;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  width: 360px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 60px;
    flex-direction: row;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0px;
  }
}
.terms__items {
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
  }
}
.social-links__items {
  margin-left: 20px;
}
.social-links__items:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.headline {
  width: 100%;
  padding: 15px;
}
@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin-top: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: 0, 5px;
    z-index: 1;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  /*width: 158px;*/
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0px;
    width: 158px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    top: 0;
    right: -105px;
    width: 796;
    height: 448;
  }
}
@media screen and (min-width: 1400px) {
  .headline__actions-btn {
    /*width: 100%;*/
    width: 158px;
  }
}
.headline .action__button {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline .action__button {
    /*width: 100%;*/
    width: 158px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  /*maybe i should work with it*/
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background: transparent;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("img/icon-humburger.png");
  display: inline-block;
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    display: block;
  }
}
.header .navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.header .navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.header .navigation__item_selected {
  font-weight: 700;
}
.header .navigation__item:last-child {
  margin-right: 0;
}
.header .navigation__arrow {
  background-image: url(img/arrow.png);
  margin-left: 11px;
  display: inline-block;
  height: 5px;
  width: 8px;
}
.header .logo {
  display: flex;
}
.header .logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .header .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.header .logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 13px;
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    display: block;
  }
}
.header .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .header .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #E3E3E3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 20px;
  max-width: 100%;
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background: #fff;
  border: 1px solid #2B292D33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2B292D;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142C6;
}

.hiring {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .hiring {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 106px auto 110px auto;
    max-width: 750px;
  }
}
.hiring__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.hiring__text {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    margin-top: 20px;
    width: 555px;
  }
}
.hiring__button {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    margin-top: 28px;
    width: 247px;
  }
}
.hiring__vacancies {
  margin-top: 39px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancies {
    margin-top: 110px;
    width: 100%;
  }
}
.hiring__vacancy {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancy {
    /*margin-top: 30px;
    width: 80px;*/
  }
}
.hiring__vacancy:first-child {
  margin-top: 0;
}

.vacancy {
  border-radius: 8px;
  border: 1px solid #2B292D33;
  display: flex;
  color: #2B292D;
  overflow: hidden;
}
.vacancy:hover {
  background-color: #3141c5;
}
.vacancy:hover .vacancy__title {
  color: #fff;
}
.vacancy:hover .vacancy__location {
  color: #fff;
}
.vacancy:hover .vacancy__arrow-container {
  background-color: transparent;
}
.vacancy:hover .icon-arrow__right {
  background-image: url(img/arrow.png);
}
.vacancy__details {
  padding: 20px;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .vacancy__details {
    display: flex;
    align-items: center;
  }
}
.vacancy__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.vacancy__location {
  font-size: 16px;
  line-height: 22px;
  color: #2b292d99;
  margin-top: 7px;
}
@media screen and (min-width: 1400px) {
  .vacancy__location {
    max-width: 232px;
    flex: 1;
    margin-left: auto;
    margin-top: 0;
  }
}
.vacancy__arrow-container {
  background-color: #D5D4D5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
@media screen and (min-width: 1400px) {
  .vacancy__arrow-container {
    background-color: #fff;
  }
}

.feedback {
  position: relative;
  text-align: left;
  padding: 39px 15px 50px;
  border-bottom: 1px solid #0000001a;
}
@media screen and (min-width: 1400px) {
  .feedback {
    padding: 0 0 66px;
  }
}
.feedback__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .feedback__content {
    align-items: center;
  }
}
.feedback__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3142C6;
}
.feedback__text {
  font-size: 24px;
  line-height: 34px;
  max-width: 750px;
  margin: 0;
  margin-top: 29px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .feedback__text {
    text-align: center;
    max-width: 750px;
    margin-top: 28px;
  }
}
.feedback__author {
  text-align: left;
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.feedback__author-profession {
  line-height: 24px;
  color: #2b292d99;
}
.feedback__dots {
  text-align: center;
  margin-top: 40px;
}
.feedback__dots .dots {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
  border-radius: 50%;
  background: #2B292D;
  opacity: 0.2;
  cursor: pointer;
  transition: 0.4s;
}
@media screen and (min-width: 1400px) {
  .feedback__dots .dots {
    height: 8px;
    width: 8px;
  }
}
.feedback__dots .dots_selected {
  opacity: 1;
  background: #3141c5;
}
.feedback .dots:hover {
  opacity: 1;
  background: #3141c5;
}
.feedback .dots:nth-child(2) {
  margin: 0 15px;
}
.feedback__image {
  margin: 35px auto 0;
  display: block;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 1px;
  }
}

.audience {
  padding: 50px 15px;
  background-color: #00a1c612;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 0 110px;
  }
}
.audience__sector {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audience__subtitle {
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
  max-width: 555px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  max-width: 555px;
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__button {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__button {
    width: 160px;
  }
}
.audience__button-blue {
  color: #000;
}
.audience__button-promotion {
  width: 100%;
  max-width: 290px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__button-promotion {
    min-width: 340px;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
  }
}
.audience__sector {
  margin-top: 25px;
}
@media screen and (min-width: 1400px) {
  .audience__sector {
    margin-top: 94px;
  }
}
.audience .sector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience .sector {
    display: flex;
    justify-content: space-around;
  }
}
.audience .sector__item {
  width: 290px;
  padding-top: 22px;
  margin-top: 15px;
  padding-bottom: 33px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .audience .sector__item {
    width: 262px;
  }
}
.audience .sector__item_selected {
  color: #fff;
  background-color: #3141c5;
}
.audience .sector__item:hover {
  color: #fff;
  background-color: #3141c5;
}
.audience .sector__title {
  margin: 0;
  margin-top: 18px;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
}

.communication {
  width: 100%;
  max-width: 1140px;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    margin: 110px auto;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .communication__container {
    display: flex;
  }
}
.communication__content {
  position: relative;
  padding-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  .communication__introduction {
    max-width: 460px;
    margin-right: 193px;
    margin-top: 13px;
  }
}
.communication__subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #0189D1;
  line-height: 34px;
}
.communication__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    margin-top: 30px;
  }
}
.communication__button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 39px;
  }
}
.communication__graphic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.communication__image {
  max-width: 290px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__image {
    max-width: 425px;
    margin: 0;
  }
}
.communication__image-caption {
  margin-top: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #2b292d99;
  text-align: center;
}
.communication__grey-line {
  width: 150px;
  margin: 0;
  opacity: 0.1;
  border-bottom: 1px solid #000;
}
.communication .possibilities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  .communication .possibilities {
    /*doesn't work*/
    justify-content: space-between;
  }
}
.communication .possibilities__item {
  max-width: 360px;
  margin-top: 33px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 1400px) {
  .communication .possibilities__item {
    /*doesn't work*/
    margin-top: 41px;
  }
}
.communication .possibilities__text {
  margin: 0;
}
.communication .possibilities__link {
  font-size: 16px;
  font-weight: 700;
  color: #3142C6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2B292D;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    margin-bottom: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
