.inbox{
    background-color: $color-yellow-light;

        &__content{
            padding: 50px 15px;

            @include for-large-up {
                display: flex;
                justify-content: center;
                padding: 115px 129px 101px 193px;            }

        }

        &__graphic{
            margin: 0;
            display: flex;
            justify-content: center;

            @include for-large-up {
                flex-direction: column;
                align-items: center;
                margin-right: 164px;
                margin-top: 27px;
            }
        }

        &__image{
            max-width: 290px;

            @include for-large-up {
                max-width: 425px;
            }

        }

        &__image-caption{
            display: none;

            @include for-large-up {
            display: block;
            margin-top: 15px;
            font-size: 14px;
            line-height: 22px;
            color: $text-color-light-grey;
            }
        }

        &__main{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 36px;

            @include for-large-up {
                margin: 0;
                max-width: 519px;
            }
        }

        &__main-content{
            max-width: 519px;

            @include for-large-up {
                padding: 0 29px;
            }
        }

        &__subtitle {
            font-size: 22px;
            font-weight: 700;
            line-height: 34px;
            color: $text-color-orange;
        }
        
        &__title {
            margin: 0;
            margin-top: 17px;
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.357143px;

            @include for-large-up {
                margin-top: 24px;
                font-size: 56px;
                line-height: 56px;
                letter-spacing: -0.5px;
            }
        }

        &__description{
            margin: 0;
            margin-top: 18px;
            font-size: 24px;
            line-height: 34px;

            @include for-large-up {
                margin: 30px 0 0;
            }
        }

        &__quote{
            max-width: 519px;
            margin-top: 30px;

            @include for-large-up {
                margin-top: 44px;
            }
        }

}



.quote {
    padding: 30px 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185D0;

    @include for-large-up {
        padding: 30px 30px 28px;
    }
    &__text {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
    }

    &__author{
        margin-top: 26px;

    }
}


.author {
    display: flex;
    align-items: flex-start;

    &__photo {
        margin-right: 11px;
    }

    &__information {
        line-height: 22px;
        font-size: 16px;
    }

    &__name {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
    }

    &__profession {
        margin: 0;
        color: $text-color-light-grey;
        line-height: 22px;
    }

}

