/* color */
$color-dark: #2B292D;
$color-grey: #D5D4D5;
$color-light: #f4f5f7;
$color-white: #fff;

$color-dark-blue: #3141c5;
$color-blue: #0185D0;
$color-light-blue: #00a1c612;

$color-yellow-light: #FCF0F366;
$color-white-light: #F2F2F2;
$color-light-grey: #E3E3E3;
$color-pink-orange: #F3C6BD;




/* text-color */

$text-color-black: #000;
$text-color-light-grey: #2b292d99;
$text-color-white: #fff;
$text-color-dark: $color-dark;

$text-color-green: #009B4D;
$text-color-orange: #F1592B;
$text-color-blue: #3142C6;


/* border-color */
$border-color: #2B292D33;